{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    VSI Vox Mundi
{% endblock %}


{% block head %}
    <style>
        #id_email{
        width: 100%;
        color: #581D74;
        padding: 8px 8px;
        }
    </style>
{% endblock %}


{% block content %}

        <header class="min-h-screen bg-black bg-opacity-25 bg-blend-overlay showcase flex justify-center items-center bg-no-repeat bg-center relative"
                style="background-image: url('{% static 'images/Logo Oficial - Horizontal.png' %}');">
             <div class="py-32 md:py-10 px-20 text-gray-100 text-center flex items-center flex-col">

            <h1 class=" text-3xl text-center m-8 mt-80">
                                Quer começar? Coloque seu e-mail abaixo para acessar.
            </h1>

            <div class="w-full flex justify-center">
                <div class="flex justify-center items-center w-11/12 md:w-10/12">
                    <form method="post" class="w-6/12 justify-center">

                        <div class="flex flex-grow items-stretch width: 100%">
                            {{ form }}
                        <button class="bg-[#1EBABD] text-[#581D74] font-medium md:font-normal flex justify-center items-center py-2 px-3 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl" type="submit">
                            <span>
                                Acessar
                            </span>
                            <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
                        </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </header>

        <section class="flex flex-col justify-center text-center md:text-left p-10 md:p-15">
            <h5 class="md:text-4xl text-[#1EBABD] font-arialbold mb-4">
                Fique por dentro
            </h5>
            <div class="d-flex justify-content-center align-items-center vh-50 ">
                <a href="https://www.instagram.com/voxmundidub/" target="_blank" class="mr-6">
                    <i class="fab fa-instagram text-4xl"></i>
                </a>
                <a href="https://br.linkedin.com/company/vox-mundi-audiovisual" target="_blank">
                    <i class="fab fa-linkedin text-4xl"></i>
                </a>
            </div>
        </section>

{% endblock %}