<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


 <div class="object branca mulhercis heterossexual pcdnao adulta ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Agnes Lealt.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Agnes Lealt Tina Hicks, AllAmerican.mp4"></audio>
   <h3>Agnes Lealt (ELA)"</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adulta jovem espanhol cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\DADO_MONTEIRO.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\DADO_MONTEIRO.wav"></audio>
      <h3>Dado Monteiro (ELE) </h3>
    </div>
      
      
<div class="object branca mulhercis heterossexual pcdnao adulta espanhol  ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\AMANDAMOREIRA.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\AMANDA_MOREIRA.wav"></audio>
  <h3>Amanda Moreira (ELA)</h3>
</div>





 <div class="object preta homemcis heterossexual pcdnao jovem adulta cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Edi_Oliveira.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Edi_Oliveira.wav"></audio>
 <h3>Edi Oliveira (ELE)</h3>
 </div>


 <div class="object branca homemcis pcdnao  infantil adulta idosa ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Joao_Guena.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\JOAO_GUENA.wav"></audio>
   <h3>João Guena (ELE)</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adulta meiaidade cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Roberto_Neves.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Roberto_Neves.wav"></audio>
   <h3>Beto Neves (ELE)</h3>
 </div>

 <div class="object parda homemcis heterossexual pcdnao adulta ingles espanhol cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Renan_Rubim.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Renan_Rubim.mp3"></audio>
   <h3>Renan Rubim (ELE)</h3>
 </div>


 <div class="object preta homemcis heterossexual pcdnao adulta ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Vinícius_Gomes.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Vinícius_Gomes.mp3"></audio>
   <h3>Vinícius Gomes (ELE)</h3>
 </div>


 <div class="object parda homemcis pcdsim adulta jovempesada ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\TIM_GASPAR.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\TIM_GASPAR.mp4"></audio>
   <h3>Tim Gaspar (ELE)</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adulta infantil espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Matheus_Guerra.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Matheus_Guerra.m4a"></audio>
   <h3>Matheus Guerra (ELE)</h3>
 </div>


 <div class="object branca mulhercis panssexual pcdnao infantil adolescente adulta ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Hannah_Kupper.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Hannah_Kupper.wav"></audio>
   <h3>Hannah Kupper (ELA)</h3>
 </div>

 <div class="object preta mulhercis heterossexual pcdnao adulta ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Sabrina_Tavares.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Sabrina_Tavares.m4a"></audio>
   <h3>Sabrina Tavares (ELA)</h3>
 </div>



 <div class="object indigena homemcis pcdnao adultapesada jovem ingles espanhol cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Murilo_Lima.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Murilo_Lima.mp3"></audio>
   <h3>Murilo Lima (ELE)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao infantil adulta ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Patrícia_Palandi.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Patrícia_Palandi.mp3"></audio>
   <h3>Patrícia Palandi (ELA)</h3>
 </div>


 <div class="object branca homemcis bissexual pcdnao adulta idosaleve cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\DOUGLAS_SOARES.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\DOUGLAS_SOARES.mp3"></audio>
   <h3>Douglas Soares (ELE)</h3>
 </div>


<div class="object branca homemcis heterossexual pcdnao infantil jovempesada infantil espanhol ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Renan_Vidal.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Renan_Vidal.wav"></audio>
  <h3>Renan Vidal (ELE)</h3>
</div>


 <div class="object branca homemcis homossexual pcdnao jovempesada infantil ingles espanhol cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Leandro_Luna.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Leandro_Luna.wav"></audio>
   <h3>Leandro Luna (ELE)</h3>
 </div>





 <div class="object preta homemcis heterossexual pcdnao infantil adolescente ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Pablo_Barros.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Pablo_Barros.wav"></audio>
   <h3>Pablo Barros (ELE)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao adulta infantil jovemleve idosaleve espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Nica_Nogueira.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Nica_Nogueira.wav"></audio>
   <h3>Nica Nogueira (ELA)</h3>
 </div>

 <div class="object preta mulhercis bissexual pcdnao infantil idosapesada adulta cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Mirian_Alves.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Mirian_Alves.mp3"></audio>
   <h3>Mirian Alves (ELA)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao infantil adolescente jovem ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Gigi_Patta.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Gigi_Patta1.m4a"></audio>
     <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Gigi_Patta2.m4a"></audio>
   <h3>Gigi Patta (ELA)</h3>
 </div>


 <div class="object branca homemcis homossexual pcdnao infantil jovemleve ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Carloz_Magno.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Carloz_Magno.wav"></audio>
   <h3>Carloz Magno (ELE)</h3>
 </div>





  <div class="object amarela homemcis heterossexual pcdnao adulta idosa cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\RicardoSam.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\RicardoSam.mp3"></audio>
    <h3>Ricardo Sam (ELE)</h3>
  </div>


  <div class="object branca homemcis heterossexual pcdnao adulta adolescente espanhol ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\RICARDO_CAMPOS.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\RICARDO_CAMPOS.wav"></audio>
    <h3>Ricardo Campos (ELE)</h3>
  </div>



  <div class="object branca homemcis pcdnao adultapesada infantil ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Fernando_Peron.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Fernando_Peron.mp3"></audio>
    <h3>Fernando Peron (ELE)</h3>
  </div>


  <div class="object branca mulhercis heterossexual pcdnao adulta idosa inantil ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Melissa_Lucena.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Melissa_Lucenanarracao.wav"></audio>
      <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Melissa_Lucenadiversas.wav"></audio>
    <h3>Melissa Lucena (ELA)</h3>
  </div>


  <div class="object branca homemcis heterossexual pcdnao adulta jovempesada ingles espanhol cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\THIAGOLONGO.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\THIAGOLONGO.wav"></audio>
    <h3>Thiago Longo (ELE)</h3>
  </div>


   <div class="object branca homemcis heterossexual pcdnao adulta adolescente espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Andre_Schmidt.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Andre_Schmidt.wav"></audio>
     <h3>André Schmidt (ELE)</h3>
   </div>






   <div class="object branca homemcis pcdnao adulta infantil adolescente ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Vini_Ribeiro.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Vini_Ribeiro.wav"></audio>
     <h3>Vini Ribeiro (ELE)</h3>
   </div>

   <div class="object parda mulhercis bissexual pcdnao adulta espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\LUCIANA_PECI.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\LUCIANA_PECI.wav"></audio>
     <h3>Luciana Pecí (ELA)</h3>
   </div>



   <div class="object preta mulhercis heterossexual pcdnao adulta jovemleve espanhol ingles outro cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Morgana_Bernabucci.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Morgana_Bernabucci.wav"></audio>
     <h3>Morgana Bernabucci (ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdnao adulta jovemleve espanhol cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\CarlaMartelli.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\CarlaMartelli.wav"></audio>
     <h3>Carla Martelli (ELA)</h3>
   </div>



   <div class="object preta homemcis homossexual pcdnao adulta adolescente cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Vinicius_Barros.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Vinicius_Barros.wav"></audio>
     <h3>Vinícius Barros (ELE)</h3>
   </div>


   <div class="object branca homemcis heterossexual pcdnao adulta  meiaidade cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Cassiano_Avila.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Cassiano_Avila.wav"></audio>
     <h3>Cassiano Ávila (ELE)</h3>
   </div>



  <div class="object parda homemcis homossexual pcdnao adulta cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Lino_Reis.PNG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Lino_Reis.mp4"></audio>
    <h3>Lino Reis (ELE)</h3>
  </div>


 <div class="object branca mulhercis homossexual pcdnao adultaleve infantil adolescente ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Mabel_Cezar.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Mabel_Cezar.mp3"></audio>
     <h3>Mabel Cezar(ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdnao adulta ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Amanda_Cappia.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda_Cappia.wav"></audio>
     <h3>Amanda Cappia (ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdnao adulta meiaidade idosa outro cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\MARIANGELA_CANTU.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\MARIANGELA_CANTU.wav"></audio>
     <h3>Mariangela Cantú(ELA)</h3>
   </div>









   <div class="object branca mulhercis heterossexual pcdsim adulta infantil adolescenteleve cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Amanda_Clemente.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda_Clemente_adulta.m4a"></audio>
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda_Clemente_Bebê.m4a"></audio>
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda_Clemente_Criança_caricata.m4a"></audio>
     <h3>Amanda Clemente (ELA)</h3>
   </div>



   <div class="object branca homemcis heterossexual pcdnao adulta jovem ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Lucas_Funchal.png">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Lucas_Funchal.wav"></audio>
     <h3>Lucas Funchal (ELE)</h3>
   </div>


 <div class="object branca mulhercis panssexual pcdnao adulta infantil adolescente cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Juliana_Cagiano.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Juliana_Cagiano.mp3"></audio>
      <h3>Juliana Cagiano (ELA)</h3>
 </div>


    <div class="object branca homemcis heterossexual pcdnao infantil ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Davi_Martins.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Davi_Martins.m4a"></audio>
      <h3>Davi Martins (ELE)</h3>
    </div>


 <div class="object branca mulhercis heterossexual pcdnao infantil adolescente ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Rafa_Calazans.png">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Rafa_Calazans.wav"></audio>
      <h3>Rafa Calazans (ELA)</h3>
 </div>

 <div class="object branca homemcis homossexual pcdnao adulta adolescente ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Alexandre_Cruz.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Alexandre_Cruz.mp3"></audio>
      <h3>Alexandre Cruz (ELE)</h3>
    </div>


 <div class="object branca homemcis homossexual pcdnao adulta ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Sérgio_Cantú.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Sérgio_Cantú.mp3"></audio>
      <h3>Sérgio Cantú (ELE)</h3>
    </div>


 <div class="object preta homemcis homossexual pcdnao adulta adolescente cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Kadu_Rocha .jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Kadu_Rocha.wav"></audio>
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Kadu_Rocha 1.mp3"></audio>
      <h3>Kadu Rocha (ELE)</h3>
    </div>


 <div class="object branca mulhercis heterossexual pcdnao infantil jovemleve ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Leticia_Celini.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Leticia_Celini.wav"></audio>
      <h3>Leticia Celini (ELA)</h3>
    </div>


 <div class="object branca homemcis heterossexual pcdnao adulta cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\NELSON_GOMES.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\NELSON_GOMES.mp3"></audio>
 <h3>Nelson Gomes (ELE)</h3>
</div>>


 <div class="object branca homemcis bissexual pcdnao adulta adolescente ingles cantanao">
   <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\GABRIEL_CLAUDINO.jpg">
   <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\GABRIEL_CLAUDINO.wav"></audio>
       <h3>Gabriel Claudino (ELE)</h3>
 </div>


 <div class="object branca mulhercis homossexual pcdnao infantil adultaleve idiosa cantasim">
   <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Fernanda_Bock.jpg">
       <h3>Fernanda Bock (ELA)</h3>
     </div>




 <div class="object branca mulhercis homossexual pcdnao adultapesada cantasim">
Fernanda_Bock.jpg
     FERNANDA_BOCK_2.wav
        Fernanda Bock (ELA)
 </div>


<div class="object branca homemcis heterossexual pcdnao adulta cantanao">
FABRICIO_SILVA.jpg
    FABRICIO_SILVA.mp3
Fabricio Silva (ELE)
</div>


 <div class="object branca mulhercis heterossexual pcdnao idosapesada infantil cantasim ingles espanhol outro">
     Roseli_Silva.jpg
     Roseli_SilvaVERSATILIDADE.mp3
     Roseli_SilvaVelhas_naturais_e_caricatas.mp3
Roseli Silva (ELA)
 </div>


 <div class="object branca homemcis homossexual pcdnao adulta cantasim ingles espanhol outro">
     Felipe_Grinnan.jpg
     Felipe_Grinnan.mp3
     Felipe Grinnan (ELE)
 </div>


 <div class="object parda homemcis pansexual pcdnao jovempesada ingles cantanao">
Thiago Marques.jpg
     Thiago Marques.wav
     Thiago Marques (ELE)

 </div>


  <div class="object branca homemcis heterossexual pcdnao jovemleve cantasim">
Reinaldo_Rodrigues.jpeg
      Reinaldo_Rodrigues.mp3
 Reinaldo Rodrigues (ELE)
  </div>

   <div class="object branca mulhertrans homossexual pcdnao adultapesada ingles cantanao">
Alexia_Vitória.jpg
Alexia_Vitória.wav
       Alexia Vitória (ELA)
   </div>


 <div class="object amarela mulhercis heterossexual pcdnao jovemleve ingles cantasim">
     Maitê_Kubo.jpeg
Maitê_Kubo.m4a
Maitê Kubo (ELA)
 </div>


 <div class="object branca homemcis heterossexual pcdnao jovempesada ingles cantasim">
     André_Rinaldi.jpeg
     André_Rinaldi.mp3
André Rinaldi (ELE)
 </div>

  <div class="object branca homemcis homossexual pcdnao jovemleve ingles espanhol cantanao">
      Charles_Emmanuel.png
      Charles_Emmanuel.wav
Charles Emmanuel (ELE)
  </div>

  <div class="object branca homemcis heterossexual pcdnao adultaleve ingles cantanao">
      default.png
      Marcello_Trigo.mp3
Marcello Trigo (ELE)
  </div>

<div class="object branca homemcis heterossexual pcdnao adolescente cantasim">
 Nicolas_Cruz.jpeg
Nicolas_Cruz.m4a
 Nicolas Cruz (ELE)
</div>

<div class="object preta homemcis panssexual pcdnao jovemleve ingles cantasim">
Cassio_Alves.jpeg
Cassio_Alves.wav
 Cassio Alves (ELE)
</div>


 <div class="object branca homemcis heterossexual pcdnao adulta cantanao">
default.png
     Jorge_Helal.mp3
     Jorge Helal (ELE)
 </div>

 <div class="object branca mulhercis heterossexual pcdnao jovemleve ingles espanhol outro cantasim">
 MICHELE_GIUDICE.wav
MICHELE_GIUDICE.jpeg
Michelle Giudice (ELA)
 </div>


  <div class="object amarela homemcis homossexual pcdnao jovempesada ingles cantasim">
Guilherme_Teruya.jpg
      Guilherme_Teruya.mp3
Guilherme Teruya (ELE)
  </div>



<div class="object branca homemcis homossexual pcdnao meiaidade ingles cantasim">
    CHARLES_DALLA.JPG
    CHARLES_DALLA.wav
Charles Dalla (ELE)
</div>


 <div class="object branca mulhercis heterossexual pcdnao adulta outro cantasim">
Mariana_Ferrari.jpg
     Mariana_Ferrari.mp3
     Mariana Ferrari (ELA)
 </div>

 <div class="object parda mulhercis homossexual pcdnao adulta ingles cantanao">
     Carla_Rebelo.jpg
     Carla_Rebelo.mp3
 Carla Rebelo (ELA)
 </div>

  <div class="object branca mulhercis heterossexual pcdnao adultapesada cantanao">
      default.png
      LUCIA_HELENA.wav
      Lucia Helena (ELA)
  </div>

 <div class="object branca mulhercis bissexual pcdnao jovemleve ingles espanhol outro cantasim">
     default.png
     FLORA_PAULITA 2.wav
     Flora Paulita (ELA)
 </div>

 <div class="object branca mulhercis heterossexual pcdsim jovemleve cantasim">
    default.png
     DANI_MARTINS 2.wav
     Dani Martins (ELA)
 </div>


 <div class="object parda homemcis heterossexual pcdnao adultapesada ingles outro cantasim">
    Roberto_Garcia.jpg
     Roberto_Garcia.wav
     Roberto Garcia (ELE)
 </div>




<div class="object branca homemcis homossexual pcdnao jovemleve ingles cantanao">
    LUCAS_VIANA.jpg
    LUCAS_VIANA.mp3
    Lucas Viana (ELE)
</div>

<div class="object branca mulhercis bissexual pcdnao jovemleve infantil ingles cantasim">
    PaulaAguiar.JPG
    PaulaAguiar.wav
    Paula Aguiar (ELA)
</div>

 <div class="object branca mulhercis bissexual pcdnao adulta espanhol cantasim">
    Andreia_Paiva.jpg
     Andreia_Paiva.mp3
     Andréia Paiva (ELA)
 </div>

 <div class="object branca mulhercis homossexual pcdnao jovempesada espanhol ingles outro cantasim">
    default.png
     CAROL_VALENÇA_2.wav
     Carol Valença (ELA)
 </div>

  <div class="object branca mulhercis bissexual pcdnao adultaleve espanhol cantasim">
      default.png
      SILVIA_SUZY.wav
      Silvia Suzy (ELA)
  </div>

  <div class="object preta mulhercis heterossexual pcdnao adultaleve ingles cantasim">
  default.png
    ANGELA_COUTO.wav
      Angela Couto (ELA)
  </div>

  <div class="object branca mulhercis heterossexual pcdnao idosaleve cantanao">
  default.png
      ROSANA_BELTRAME.wav
      Rosana Beltrame (ELA)
  </div>

   <div class="object branca mulhercis heterossexual pcdnao jovemleve ingles cantanao">
  default.png
       PATRICIA_SCALVI.wav
       Patrícia Palandi (ELA)
   </div>

    <div class="object preta mulhercis heterossexual pcdnao adultaleve cantanao">
          default.png
        CAROL_CRESPO.wav
        Carol Crespo (ELA)
    </div>

 <div class="object branca mulhercis heterossexual pcdnao jovemleve infantil cantanao">
Carol_Ruis.jpg
     CarolRuis.wav
     Carol Ruis (ELA)
 </div>

 <div class="object amarela homemcis heterossexual pcdnao jovemleve ingles cantasim">
default.png
ROBSON_KUMODE.wav
     Robson Kumode (ELE)
 </div>

<div class="object branca homemcis homossexual pcdnao jovem cantasim">
default.png
    LUCAS_GAMA.wav
    Lucas Gama (ELE)
</div>



<div class="object branca homemcis heterossexual pcdnao adulta ingles espanhol cantasim">
    DOUGLAS_GUEDES.jpg
    DOUGLAS_GUEDES.wav
 Douglas Guedes (ELE)
</div>


<!--AQUI-->
<div class="object preta homemcis heterossexual infantil adolescente pcdnao jovem cantasim">

 AgyeiAugusto.JPG
 AgyeiAugusto.m4a
 Agyei Augusto (ELE)

</div>


 <div class="object branca homemcis homossexual pcdnao jovem infantil adulta cantanao">
     WILLIAMMAZZAR.jpeg
     WILLIAMMAZZAR.mp3
     William Mazzar (ELE)
 </div>


 <div class="object branca mulhercis heterossexual pcdnao adolescente jovem adultaleve ingles espanhol cantasim">
     MarianaPozatto.jpeg
     MarianaPozatto.wav
     Mariana Pozatto (ELA)

 </div>


<div class="object branca homemcis homossexual infantil adolescente pcdnao jovem adulta cantasim">
default.png
    GABRIEL_EBLING.wav
    Gabriel Ebling (ELE)
</div>





<!--#aqui!!!-->










<!-- faltantes -->















   <div class="object branca homemtrans naobinario bissexual pcdnao adulta espanhol ingles outro cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Marun Reis.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Marun Reis Dublagem.mov"></audio>
     <h3>Marun Reis (ELE)</h3>
   </div>


  <div class="object branca mulhercis heterossexual pcdnao adolescente adultaleve outro ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Thaís_Durães.jpg">
    <h3>Thaís Durães (ELA)</h3>
  </div>
</body>
</html>










