<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


 <div class="object branca mulhercis heterossexual pcdnao adultafeminina ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Agnes Lealt.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Agnes Lealt Tina Hicks, AllAmerican.mp4"></audio>
   <h3>Agnes Lealt (ELA)"</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adultamasculina jovemmasculina espanhol cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\DADO MONTEIRO.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\DADO MONTEIRO.wav"></audio>
      <h3>Dado Monteiro (ELE) </h3>
    </div>
      
      
<div class="object branca mulhercis heterossexual pcdnao adultamasculina espanhol  ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\AMANDAMOREIRA.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\AMANDA MOREIRA.wav"></audio>
  <h3>Amanda Moreira (ELA)</h3>
</div>

 <div class="object preta homemcis heterossexual pcdnao jovemmasculina adultamasculina cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Edi Oliveira.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Edi Oliveira.wav"></audio>
 <h3>Edi Oliveira (ELE)</h3>
 </div>


 <div class="object branca homemcis pcdnao  infantilmasculina adultamasculina idosamasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Joao Guena.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\JOAO GUENA.wav"></audio>
   <h3>João Guena (ELE)</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adultamasculina meiaidademasculina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Roberto Neves.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Roberto Neves.wav"></audio>
   <h3>Beto Neves (ELE)</h3>
 </div>

 <div class="object parda homemcis heterossexual pcdnao adultamasculina ingles espanhol cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Renan Rubim.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Renan Rubim.mp3"></audio>
   <h3>Renan Rubim (ELE)</h3>
 </div>


 <div class="object preta homemcis heterossexual pcdnao adultamasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Vinícius Gomes.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Vinícius Gomes.mp3"></audio>
   <h3>Vinícius Gomes (ELE)</h3>
 </div>


 <div class="object parda homemcis pcdsim adultamasculina jovemmasculinapesada ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\TIM GASPAR.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\TIM GASPAR.mp4"></audio>
   <h3>Tim Gaspar (ELE)</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adultamasculina infantilmasculina espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Matheus Guerra.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Matheus Guerra.m4a"></audio>
   <h3>Matheus Guerra (ELE)</h3>
 </div>


 <div class="object branca mulhercis panssexual pcdnao infantilfeminina adolescentefeminina adultafeminina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Hannah Kupper.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Hannah Kupper.wav"></audio>
   <h3>Hannah Kupper (ELA)</h3>
 </div>

 <div class="object preta mulhercis heterossexual pcdnao adultamasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Sabrina Tavares.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Sabrina Tavares.m4a"></audio>
   <h3>Sabrina Tavares (ELA)</h3>
 </div>


 <div class="object indigena homemcis pcdnao adultamasculinapesada jovemmasculina ingles espanhol cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Murilo Lima.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Murilo Lima.mp3"></audio>
   <h3>Murilo Lima (ELE)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao infantilfeminina adultafeminina ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Patrícia Palandi.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Patrícia Palandi.mp3"></audio>
   <h3>Patrícia Palandi (ELA)</h3>
 </div>


 <div class="object branca homemcis bissexual pcdnao adultamasculina idiosamasculinaleve cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\DOUGLAS SOARES.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\DOUGLAS SOARES.mp3"></audio>
   <h3>Douglas Soares (ELE)</h3>
 </div>


<div class="object branca homemcis heterossexual pcdnao infantilmasculina adultamasculina idosamasculinaleve espanhol ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Renan Vidal.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Renan Vidal.wav"></audio>
  <h3>Renan Vidal (ELE)</h3>
</div>


 <div class="object branca homemcis homossexual pcdnao adultamasculina infantilmasculina ingles espanhol cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Leandro Luna.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Leandro Luna.wav"></audio>
   <h3>Leandro Luna (ELE)</h3>
 </div>


 <div class="object preta homemcis heterossexual pcdnao infantilmasculina adolescentemasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Pablo Barros.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Pablo Barros.wav"></audio>
   <h3>Pablo Barros (ELE)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao adultamasculina infantilmasculina jovemmasculinaleve idosamasculinaleve espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Nica Nogueira.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Nica Nogueira.wav"></audio>
   <h3>Nica Nogueira (ELA)</h3>
 </div>

 <div class="object preta mulhercis bissexual pcdnao infantilfeminina idosafemininapesada adultafeminina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Mirian Alves.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Mirian Alves.mp3"></audio>
   <h3>Mirian Alves (ELA)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao infantilfeminina adolescentefeminina jovemfeminina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Gigi Patta.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Gigi Patta1.m4a"></audio>
     <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Gigi Patta2.m4a"></audio>
   <h3>Gigi Patta (ELA)</h3>
 </div>


 <div class="object branca homemcis homossexual pcdnao infantilmasculina jovemmasculinaleve ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Carloz Magno.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Carloz Magno.wav"></audio>
   <h3>Carloz Magno (ELE)</h3>
 </div>


  <div class="object branca mulhercis heterossexual pcdnao adolescentefeminina adultafemininaleve outro ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Thaís Durães.jpg">
    <h3>Thaís Durães (ELA)</h3>
  </div>


  <div class="object amarela homemcis heterossexual pcdnao adultamasculina idosamasculina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\RicardoSam.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\RicardoSam.mp3"></audio>
    <h3>Ricardo Sam (ELE)</h3>
  </div>


  <div class="object branca homemcis heterossexual pcdnao adultamasculina adolescentemasculina espanhol ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\RICARDO CAMPOS.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\RICARDO CAMPOS.wav"></audio>
    <h3>Ricardo Campos (ELE)</h3>
  </div>

  <div class="object branca homemcis pcdnao adultamasculina infantilmasculina ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Fernando Peron.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Fernando Peron.mp3"></audio>
  "dublador": "Fernando Mauricio Peron",
    <h3>Fernando Peron (ELE)</h3>
  </div>


  <div class="object branca mulhercis heterossexual pcdnao adultafeminina idosafeminina inantilfeminina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Melissa Lucena.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Melissa Lucenanarracao.wav"></audio>
      <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Melissa Lucenadiversas.wav"></audio>
    <h3>Melissa Lucena (ELA)</h3>
  </div>

  <div class="object branca homemcis heterossexual pcdnao adultamasculina jovemmasculinapesada ingles espanhol cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\THIAGOLONGO.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\THIAGOLONGO.wav"></audio>
    <h3>THIAGO LONGO (ELE)</h3>
  </div>


   <div class="object branca homemcis heterossexual pcdnao adultamasculina adolescentemasculina espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Andre Schmidt.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Andre Schmidt.wav"></audio>
     <h3>André Schmidt (ELE)</h3>
   </div>

   <div class="object branca homemtrans naobinario bissexual pcdnao adultamasculina espanhol ingles outro cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Marun Reis.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Marun Reis Dublagem.mov"></audio>
     <h3>Marun Reis (ELE)</h3>
   </div>

   <div class="object branca homemcis pcdnao adultamasculina infantilmasculina adolescentemasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Vini Ribeiro.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Vini Ribeiro.wav"></audio>
     <h3>Vini Ribeiro (ELE)</h3>
   </div>

   <div class="object parda mulhercis bissexual pcdnao adultafeminina espanhol ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\LUCIANA PECI.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\LUCIANA PECI.wav"></audio>
     <h3>Luciana Pecí (ELA)</h3>
   </div>


   <div class="object preta mulhercis heterossexual pcdnao adultafeminina jovemfemininaleve espanhol ingles outro cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Morgana Bernabucci.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Morgana Bernabucci.wav"></audio>
     <h3>Morgana Bernabucci (ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdnao adultafeminina jovemfemininaleve espanhol cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\CarlaMartelli.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\CarlaMartelli.wav"></audio>
     <h3>Carla Martelli (ELA)</h3>
   </div>


   <div class="object preta homemcis homossexual pcdnao adultamasculinaadolescentemasculina cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Vinicius Barros.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Vinicius Barros.wav"></audio>
     <h3>Vinícius Barros (ELE)</h3>
   </div>


   <div class="object branca homemcis heterossexual pcdnao adultamasculina  meiaidademasculina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Cassiano Avila.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Cassiano Avila.wav"></audio>
     <h3>Cassiano Ávila (ELE)</h3>
   </div>


  <div class="object parda homemcis homossexual pcdnao adultamasculina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Lino Reis.PNG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Lino Reis.mp4"></audio>
    <h3>Lino Reis (ELE)</h3>
  </div>


   <div class="object branca mulhercis homossexual pcdnao adultafeminina idiosafeminina infantilfeminina adolescentefeminina ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Mabel Cezar.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Mabel Cezar.mp3"></audio>
     <h3>MABEL CEZAR (ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdnao adultafeminina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Amanda Cappia.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda Cappia.wav"></audio>
     <h3>Amanda Cappia (ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdnao adultafeminina meiaidadefeminina idosafeminina outro cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\MARIANGELA CANTU.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\MARIANGELA CANTU.wav"></audio>
     <h3>MARIANGELA CANTÚ (ELA)</h3>
   </div>


   <div class="object branca mulhercis heterossexual pcdsim adultafeminina infantilfeminina adolescentefemininaleve cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Amanda Clemente.JPG">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda Clemente adulta.m4a"></audio>
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda Clemente Bebê.m4a"></audio>
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Amanda Clemente Criança caricata.m4a"></audio>
     <h3>Amanda Clemente (ELA)</h3>
   </div>



   <div class="object branca homemcis heterossexual pcdnao adultamasculina jovemmasculina ingles cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Lucas Funchal.png">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Lucas Funchal.wav"></audio>
     <h3>Lucas Funchal (ELE)</h3>
   </div>


 <div class="object branca mulhercis panssexual pcdnao adultafeminina infantilfeminina adolescentefeminina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Juliana Cagiano.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Juliana Cagiano.mp3"></audio>
      <h3>Juliana Cagiano (ELA)</h3>
 </div>


    <div class="object branca homemcis heterossexual pcdnao infantilmasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Davi Martins.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Davi Martins.m4a"></audio>
      <h3>Davi Martins (ELE)</h3>
    </div>


 <div class="object branca mulhercis heterossexual pcdnao infantilfeminina adolescentefeminina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Rafa Calazans.png">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Rafa Calazans.wav"></audio>
      <h3>Rafa Calazans (ELA)</h3>
 </div>

 <div class="object branca homemcis homossexual pcdnao adultamasculina adolescentemasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Alexandre Cruz.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Alexandre Cruz.mp3"></audio>
      <h3>Alexandre Cruz (ELE)</h3>
    </div>


 <div class="object branca homemcis homossexual pcdnao adultamasculina ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Sérgio Cantú.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Sérgio Cantú.mp3"></audio>
      <h3>Sérgio Cantú (ELE)</h3>
    </div>


 <div class="object preta homemcis homossexual pcdnao adultamasculina adolescentemasculina cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Kadu Rocha .jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Kadu Rocha.wav"></audio>
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Kadu Rocha 1.mp3"></audio>
      <h3>Kadu Rocha (ELE)</h3>
    </div>


 <div class="object branca mulhercis heterossexual pcdnao infantilfeminina jovemfemininaleve ingles cantasim">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Leticia Celini.jpg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\Leticia Celini.wav"></audio>
      <h3>Leticia Celini (ELA)</h3>
    </div>


 <div class="object branca homemcis heterossexual pcdnao adultamasculina cantanao">
  <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\NELSON GOMES.jpeg">
  <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\NELSON GOMES.mp3"></audio>
 <h3>Nelson Gomes (ELE)</h3>
</div>>


 <div class="object branca homemcis bissexual pcdnao adultamasculina adolescentemasculina ingles cantanao">
   <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\GABRIEL CLAUDINO.jpg">
   <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\GABRIEL CLAUDINO.wav"></audio>
       <h3>Gabriel Claudino (ELE)</h3>
 </div>


 <div class="object branca mulhercis homossexual pcdnao infantilfeminina adultafemininaleve idiosafeminina cantasim">
   <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Fernanda Bock.jpg">
       <h3>Fernanda Bock (ELA)</h3>
     </div>

</body>
</html>