<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="object homemcis pcdnao adultaleve branca assexual cantanao ingles">
    <img src="/media/foto_dublador/adrianotrotta.jpg">
  <audio src="/media/music/adrianotrotta.mp3"></audio>
     <h3>Adriano Trotta (ELE)</h3>
</div>


<div class="object homemcis pcdnao adulta parda heterossexual cantanao espanhol">
       <img src="/media/foto_dublador/AiltonRosa .PNG">
       <h3>Ailton Rosa (ELE)</h3>
  </div>


<div class="object homemcis pcdnao adulta branca heterossexual cantasim">
    <img src="/media/foto_dublador/AiltonRosa .PNG">
  <audio src="/media/music/AlexandreMonari.mp3"></audio>
      <h3>Alexandre Monari (ELE)</h3>
  </div>


<div class="object homemcis pcdnao idosaleve branca heterossexual cantasim">
    <img src="/media/foto_dublador/LuizNunes.jpg">
  <audio src="/media/music/LuizNunes.wav"></audio>
      <h3>Luiz Nunes (ELE)"</h3>
</div>


 <div class="object parda mulhercis heterossexual pcdnao jovemleve ingles cantasim">
     <img src="/media/foto_dublador/BrunaMatta.heic">
   <audio src="/media/music/BrunaMatta.wav"></audio>
      <h3>Bruna Matta (ELA)</h3>
 </div>


 <div class="object preta homemcis bissexual pcdnao jovemleve ingles espanhol cantanao">
     <img src="/media/foto_dublador/CaioFreire.jpg">
   <audio src="/media/music/CAIOFREIREFALADO.wav"></audio>
   <audio src="/media/music/CAIOFREIREJOVEM.wav"></audio>
   <audio src="/media/music/CAIOFREIRECRIANCA.wav"></audio>
      <h3> Caio Freire (ELE) </h3>
 </div>


<div class="object branca homemcis adolescente heterossexual pcdnao ingles cantasim">
    <img src="/media/foto_dublador/CaioMariano.jpg"></audio>
  <audio src="/media/music/CaioMariano.m4a"></audio>
      <h3>Caio Mariano (antigo caio albieri) (ELE)</h3>
</div>


<div class="object branca mulhercis bissexual pcdnao jovemleve  ingles espanhol cantasim">
    <img src="/media/foto_dublador/CarolSeverian.jpeg">
  <audio src="/media/music/CarolSeverian.wav"></audio>
      <h3> Carol Severian (ELA) </h3>
</div>
 

<div class="object branca homemcis heterossexual pcdnao adultaleve  ingles cantasim">
    <img src="/media/foto_dublador/CelsoHenrique.jpg">
  <audio src="/media/music/CELSOHENRIQUEVOZESDESENHOS.wav"></audio>
      <h3>Celso Henrique (ELE)</h3>
</div>


<div class="object branca homemcis heterossexual pcdnao adultaleve  Espanhol cantasim">
    <img src="/media/foto_dublador/ChristianoTorreao.jpg">
  <audio src="/media/music/christianotorreao.wav"></audio>
      <h3>Christiano Torreão (ELE)</h3>
</div>
 

<div class="object preta homemcis homossexual pcdnao jovemleve  ingles cantasim">
    <img src="/media/foto_dublador/DanielSelles.jpg">
  <audio src="/media/music/DanielSelles.mp3"></audio>
      <h3>Daniel Selles (ELE)"</h3>
</div>
 

<div class="object branca mulhercis heterossexual pcdnao adultaleve infantil cantasim">
    <img src="/media/foto_dublador/DeniseSperandelli.jpg">
  <audio src="/media/music/DeniseSperandelli.wav"></audio>
      <h3>Denise Sperandelli (ELA)</h3>
</div>


 <div class="object amarela mulhercis heterossexual pcdnao jovempesada cantanao">
    <img src="/media/foto_dublador/ericakou.jpeg">
  <audio src="/media/music/ericakou.wav"></audio>
      <h3>Érica Kou (ELA) </h3>
 </div>


 <div class="object branca homemcis heterossexual pcdsim adulta espanhol cantanao">
     <img src="/media/foto_dublador/FabioMatjas.jpg">
   <audio src="/media/music/FabioMatjas.wav"></audio>
      <h3>Fabio Matjas (ELE)</h3>
 </div>


 <div class="object parda homemcis homossexual pcdnao jovempesada cantanao">
     <img src="/media/foto_dublador/FelipeMarques.jpeg">
   <audio src="/media/music/FelipeMarques.mp3"></audio>
      <h3>Felipe Marques (ELE)</h3>
 </div>


 <div class="object preta homemcis homossexual pcdnao jovemleve infantil cantasim">
     <img src="/media/foto_dublador/GIOVANNIMAMEDE.jpg">
   <audio src="/media/music/GIOVANNIMAMEDE_1.wav"></audio>
   <audio src="/media/music/GIOVANNIMAMEDE_2.wav"></audio>
     <h3>Giovanni Mamede (ELE) </h3>
 </div>


  <div class="object branca homemcis homossexual pcdnao adultapesada ingles cantanao">
     <img src="/media/foto_dublador/GUSTAVOVERGANI.jpeg">
   <audio src="/media/music/GUSTAVOVERGANI.wav"></audio>
   <audio src="/media/music/GUSTAVOVERGANI1.wav"></audio>
     <h3>Gustavo Vergani (ELE) </h3>
  </div>


  <div class="object branca homemcis heterossexual pcdnao adultaleve ingles cantasim">
     <img src="/media/foto_dublador/LeandroLoureiro.jpg">
   <audio src="/media/music/LeandroLoureiro.wav"></audio>
     <h3>Leandro Loureiro (ELE)</h3>
  </div>


  <div class="object preta homemcis homossexual pcdnao adultapesada cantasim">
      <img src="/media/foto_dublador/MarceloSandryni.jpeg">
    <audio src="/media/music/MARCELOSANDRYNI.wav"></audio>
     <h3>Marcelo Sandryni (ELE)</h3>
  </div>


  <div class="object branca mulhercis homossexual pcdnao jovempesada infantil ingles outro cantasim">
      <img src="/media/foto_dublador/MariGuedes.jpg">
    <audio src="/media/music/MariGuedescomum.wav"></audio>
      <h3>Mari Guedes (ELA) </h3>
  </div>


  <div class="object branca mulhercis bissexual pcdsim jovemleve infantilfemina ingles espanhol outro cantasim">
      <img src="/media/foto_dublador/MaryMinóboli.jpeg">
    <audio src="/media/music/MaryMinóboli.m4a"></audio>
      <h3>Mary Minóboli (ELA)</h3>
  </div>


  <div class="object branca homemcis heterossexual pcdnao adultaleve ingles espanhol cantasim">
      <img src="/media/foto_dublador/MAYKEZIEMANN.jpg">
    <audio src="/media/music/MAYKEZIEMANN.wav"></audio>
      <h3>Mayke Ziemann (ELE)</h3>
  </div>


 <div class="object branca homemcis heterossexual pcdnao jovempesado ingles espanhol cantanao">
     <img src="/media/foto_dublador/RenanReis.JPG">
   <audio src="/media/music/RenanReis.mp3"></audio>
     <h3>Renan Reis (ELE)</h3>
  </div>


 <div class="object parda homemcis heterossexual pcdnao adultapesada ingles espanhol cantanao">
     <img src="/media/foto_dublador/DIGAOVICENTE.jpeg">
   <audio src="/media/music/DIGAOVICENTE.wav"></audio>
     <h3>Digão Vicente (ELE)</h3>
 </div>


<div class="object branca mulhercis bissexual pcdnao jovemleve infantil ingles cantasim">
   <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublado\SimoneEvanz.jpeg">
  <audio src="/media/music/simoneEvanz_1.wav"></audio>
   <audio src="/media/music/SimoneEvanz_SotaqueCE.mp3"></audio>
   <audio src="/media/music/SimoneEvanz_sotaquePE.wav"></audio>
     <h3>Simone Evanz (ELA)</h3>
</div>


<div class="object branca mulhercis heterossexual pcdnao adolescente infantil ingles cantasim">
    <img src="/media/foto_dublador/Tata Saraiva.jpeg">
  <audio src="/media/music/Tata Saraiva.mp3"></audio>
     <h3>Tata Saraiva (ELA)</h3>
</div>


<div class="object branca mulhercis bissexual pcdsim adultapesada cantanao">
     <img src="/media/foto_dublador/VERABONILHA.jpg">
   <audio src="/media/music/VERABONILHA.mp3"></audio>
     <h3>Vera Bonilha (ELA)</h3>
</div>


<div class="object parda mulhercis bissexual pcdnao  infantil infantil adolescente adultaleve ingles espanhol cantanao">
    <img src="/media/foto_dublador/Bruna Mass.jpg">
  <audio src="/media/music/Bruna Mass.mp4"></audio>
     <h3>Bruna Mass (ELA)</h3>
</div>


 <div class="object branca homemcis heterossexual pcdnao adultaleve cantanao">
    <img src="/media/foto_dublador/Bruno Sangregorio 3x4.webp">
  <audio src="/media/music/Bruno Sangregorio.wav"></audio>
      <h3>Bruno Sangregorio (ELE)</h3>
 </div>


 <div class="object preta mulhercis heterossexual pcdnao adultaleve cantasim">
     <img src="/media/foto_dublador/Tania Viana.jpg">
   <audio src="/media/music/Tania Viana.mp3"></audio>
      <h3>Tania Viana (ELA)</h3>
 </div>


<div class="object branca homemcis homossexual pcdnao adultaleve ingles cantasim">
     <img src="/media/foto_dublador/Marcelo Campos.jpg">
   <audio src="/media/music/Marcelo Campos.mp3"></audio>
      <h3>Marcelo Campos (ELE)</h3>
</div>

 
<div class="object branca mulhercis bissexual pcdnao jovemleve infantil cantasim">
    <img src="/media/foto_dublador/AnaPaulaSchneiderfoto.jpeg">
  <audio src="/media/music/AnaPaulaSchneiderCaricata.mp3"></audio>
      <h3>Ana Paula Schneider (ELA)</h3>
</div>


<div class="object branca homemcis homossexual pcdnao adultaleve ingles cantasim">
    <img src="/media/foto_dublador/Gustavo_Vergani.jpeg">
  <audio src="/media/music/GUSTAVO_VERGANI.wav"></audio>
      <h3>Gustavo Vergani (ELE)</h3>
</div>


<div class="object branca homemcis heterossexual pcdnao adultaleve cantanao">
    <img src="/media/foto_dublador/Filipe_Teofilo.jpeg">
  <audio src="/media/music/Filipe_Teofilo.wav"></audio>
      <h3>Filipe Teófilo (ELE)</h3>
</div>


 <div class="object branca mulhercis heterossexual pcdnao adultaleve ingles cantanao">
     <img src="/media/foto_dublador/Thayná_Cavalcanti.jpeg">
   <audio src="/media/music/Thayna_Cavalcanti.wav"></audio>
      <h3>Thayná Cavalcanti (ELA)</h3>
 </div>


 <div class="object branca homemcis homossexual pcdnao adulta ingles cantasim">
     <img src="/media/foto_dublador/Roberto_Rocha.jpg">
   <audio src="/media/music/RobertoRocha.mp3"></audio>
      <h3>Roberto Rocha (ELE)</h3>
 </div>

 <div class="object branca homemcis heterossexual pcdnao adultapesada ingles cantasim">
     <img src="/media/foto_dublador/Samuel_Mota.jpg">
   <audio src="/media/music/Samuel_Mota.mp4"></audio>
      <h3>Samuel Mota (ELE)</h3>
 </div>


 <div class="object branca mulhercis bissexual pcdnao adolescente infantil ingles cantasim">
     <img src="/media/foto_dublador/Sofia_Manso.jpg">
   <audio src="/media/music/Sofia_Manso.wav"></audio>
       <h3>Sofia Manso (ELA)</h3>
 </div>


 <div class="object branca homemcis heterossexual pcdnao adulta ingles cantasim">
     <img src="/media/foto_dublador/Marcelo_SALSICHA.jpg">
   <audio src="/media/music/Marcelo_SALSICHA.wav"></audio>
       <h3>Marcelo 'Salsicha' Caodaglio (ELE)</h3>
 </div>


 <div class="object branca homemcis homossexual pcdnao jovemleve ingles cantasim">
     <img src="/media/foto_dublador/Filipe_Gimenez.jpg">
   <audio src="/media/music/Filipe_Gimenez.wav"></audio>
        <h3>Filipe Gimenez (ELE)</h3>
 </div>


 <div class="object branca mulhercis heterossexual pcdnao adultaleve infantil outro espanhol ingles cantasim">
     <img src="/media/foto_dublador/Mana_Muniz.jpg">
   <audio src="/media/music/ManaMuniz_natural.mp3"></audio>
   <audio src="/media/music/ManaMuniz_infantil.mp3"></audio>
        <h3>Mana Muniz (ELA)</h3>
 </div>


 <div class="object amarela mulhercis heterossexual pcdnao adulta outro espanhol ingles cantasim">
     <img src="/media/foto_dublador/Carla_Masumoto.jpg">
   <audio src="/media/music/Carla_Masumoto_.mp3"></audio>
   <audio src="/media/music/Carla_Masumoto_1.mp3"></audio>
   <audio src="/media/music/Carla_Masumoto_Senhora.mp3"></audio>
       <h3>Carla Masumoto (ELA)</h3>
 </div>

<div class="object preta homemcis homossexual pcdnao adultapesada cantasim">
     <img src="/media/foto_dublador/Vagner_Santos.jpg">
   <audio src="/media/music/Vagner_Santos_.m4a"></audio>
       <h3>Vagner Santos (ELE)</h3>
</div>


<div class="object branca mulhertrans pansexual pcdnao jovemleve outro espanhol ingles cantasim">
    <img src="/media/foto_dublador/Zara_Dobura.jpg">
  <audio src="/media/music/Zara_Dobura.wav"></audio>
      <h3>Zara Dobura (ELA)</h3>
</div>


<div class="object parda homemcis bissexual pcdnao adolescente infantil cantasim">
    <img src="/media/foto_dublador/Arthur_Salerno.jpg">
  <audio src="/media/music/Arthur_Salerno_Voz_Normal.wav"></audio>
  <audio src="/media/music/Arthur_Salerno_voz_Criança.wav"></audio>
     <h3>Arthur Salerno (ELE)</h3>
</div>


<div class="object preta mulhercis heterossexual pcdnao adultapesada ingles cantasim">
    <img src="/media/foto_dublador/vany_americo.jpeg">
  <audio src="/media/music/Vany_Americo.mp3"></audio>
  <audio src="/media/music/Vany_Americo_1.mp3">  </audio>
     <h3>Vany Americo (ELA)</h3>
</div>


<div class="object branca mulhercis heterossexual pcdnao adulta infantil adolescente espanhol ingles cantasim">
    <img src="/media/foto_dublador/Karen_Padrao.JPG">
  <audio src="/media/music/001_SAMPLE_KAREN_PADRÃO_CRIANÇA.wav"></audio>
  <audio src="/media/music/002_SAMPLE_KAREN_PADRÃO_ADOLESCENTE.wav"></audio>
  <audio src="/media/music/003_SAMPLE_KAREN_PADRÃO_JOVEM.wav"></audio>
  <audio src="/media/music/004_SAMPLE_KAREN_PADRÃO_ADULTO.wav"></audio>
  <audio src="/media/music/005_SAMPLE_KAREN_PADRÃO_ADULTO_MADURO.wav"></audio>
  <audio src="/media/music/006_SAMPLE_KAREN_PADRÃO_GRAVE.wav"></audio>
    <h3>Karen Padrão (ELA)</h3>
</div>


<div class="object branca homemcis heterossexual pcdnao adolescente jovempesada adulto cantanao">
    <img src="/media/foto_dublador/Rafael_Rheda.jpeg">
  <audio src="/media/music/Rafael_Rheda.wav"></audio>
    <h3>Rafael Rheda (ELE)</h3>
</div>


<div class="object amarela homemcis homossexual pcdnao jovem adulta espanhol ingles cantasim">
    <img src="/media/foto_dublador/Lucas_Miagusuku.jpg">
  <audio src="/media/music/Lucas_Miagusuku.wav"></audio>
     <h3>Lucas Miagusuku (ELE) </h3>
</div>


<div class="object  homemcis heterossexual pcdnao jovem adultaleva cantasim">
    <img src="/media/foto_dublador/Kleber_Brianez.jpeg">
  <audio src="/media/music/KleberBRianez_.mp3"></audio>
     <h3>Kleber Brianez (ELE)</h3>
</div>


<div class="object branca homemcis heterossexual pcdnao jovem adultaleve espanhol ingles cantasim">
     <img src="/media/foto_dublador/Guilherme_Maia.png">
   <audio src="/media/music/Guilherme_Maia.wav"></audio>
       <h3>Guilherme Maia</h3>
</div>


<div class="object branca  mulhercis heterossexual pcdnao adutafeminina ingles cantanao">
    <img src="/media/foto_dublador/Agnes_Lealt.jpg">
    <audio src="/media/music/Agnes_LealtTina_Hicks_AllAmerican.mp4"></audio>
    <h3>Agnes Lealt (ELA)</h3>
</div>


</body>
</html>


