<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtro Site</title>

<!--https://codepen.io/tornadicshark/pen/XWboaRp-->

</head>
<body>

<style>

    .wrap{
      display: flex;
      flex-wrap: wrap;
    }

    .object{
      width:100px;
      height:100px;
      margin:10px;
      display:none;
    }

    .circle { border-radius: 50px;}
    .square { /* do nothing */}

    .show{
      display:block;
    }

    body { font-size: 150%; }

    .left { float: left; width: 40%;}
    .right {float: right; width: 60%;}
    h1 { font-size: 125%;}

    #no-results { display: none; }

</style>

<section>

  <div class="left">
      <h1>Genero</h1>
            <div><input type="checkbox" id="homemcis" onclick="check()>
                <label for="homemcis">Homem Cis</label></div>
            <div><input type="checkbox" id="homemtrans" onclick="check()>
                <label for="homemtrans">Homem Trans</label></div>
            <div><input type="checkbox" id="intersexo" onclick="check()>
                <label for="intersexo">Intersexo</label></div>
            <div><input type="checkbox" id="mulhercis" onclick="check()>
                <label for="mulhercis">Mulher Cis</label></div>
            <div><input type="checkbox" id="mulhertrans" onclick="check()>
                <label for="mulhertrans">Mulher Trans</label></div>
            <div><input type="checkbox" id="naobinario" onclick="check()>
                <label for="naobinario">Não Binário</label></div>


      <h1>PCD</h1>
          <div><input type="checkbox" id="pcdsim" onclick="check()">
                <label for="pcdsim">Sim</label></div>
          <div><input type="checkbox" id="pcdnao" onclick="check()">
                <label for="pcdnao">Nao</label></div>


      <h1>Categoria</h1>
          <div><input type="checkbox" id="infantilfeminina" onclick="check()">
                <label for="infantilfeminina">Infantil Feminina</label></div>
          <div><input type="checkbox" id="infantilmasculina" onclick="check()">
                <label for="infantilmasculina">Infantil Masculina</label></div>

          <div><input type="checkbox" id="adolescentefeminina" onclick="check()">
                <label for="adolescentefeminina">Adolescente Feminina</label></div>
          <div><input type="checkbox" id="adolescentemasculina" onclick="check()">
                <label for="adolescentemasculina">Adolescente Masculina</label></div>

          <div><input type="checkbox" id="jovemfemininaleve" onclick="check()">
                <label for="jovemfemininaleve">Jovem Feminina Leve</label></div>
          <div><input type="checkbox" id="jovemfeminina" onclick="check()">
                <label for="jovemfeminina">Jovem Feminina</label></div>
          <div><input type="checkbox" id="jovemfemininapesada" onclick="check()">
                <label for="jovemfemininapesada">Jovem Feminina Pesada</label></div>

          <div><input type="checkbox" id="jovemmasculinaleve" onclick="check()">
                <label for="jovemmasculinaleve">Jovem Masculina Leve</label></div>
          <div><input type="checkbox" id="jovemmasculina" onclick="check()">
                <label for="jovemmasculina">Jovem Masculina</label></div>
          <div><input type="checkbox" id="jovemmasculinapesada" onclick="check()">
                <label for="jovemmasculinapesada">Jovem Masculina Pesada</label></div>

          <div><input type="checkbox" id="adultafemininaleve" onclick="check()">
                <label for="adultafemininaleve">Adulta Feminina Leve</label></div>
          <div><input type="checkbox" id="adultafeminina" onclick="check()">
                <label for="adultafeminina">Adulta Feminina</label></div>
          <div><input type="checkbox" id="adultafemininapesada" onclick="check()">
                <label for="adultafemininapesada">Adulta Feminina Pesada</label></div>

          <div><input type="checkbox" id="adultamasculinaleve" onclick="check()">
                <label for="adultamasculinaleve">Adulta Masculina Leve</label></div>
          <div><input type="checkbox" id="adultamasculina" onclick="check()">
                <label for="adultamasculina">Adulta Masculina</label></div>
          <div><input type="checkbox" id="adultamasculinapesada" onclick="check()">
                <label for="adultamasculinapesada">Adulta Masculina Pesada</label></div>

          <div><input type="checkbox" id="meiaidadefeminina" onclick="check()">
                <label for="meiaidadefeminina">Meia Idade Feminina</label></div>
          <div><input type="checkbox" id="meiaidademasculina" onclick="check()">
                <label for="meiaidademasculina">Meia Idade Masculina</label></div>

          <div><input type="checkbox" id="idosafemininaleve" onclick="check()">
                <label for="idosafemininaleve">Idosa Feminina Leve</label></div>
          <div><input type="checkbox" id="idosafeminina" onclick="check()">
                <label for="idosafeminina">Idosa Feminina</label></div>
          <div><input type="checkbox" id="idosafemininapesada" onclick="check()">
                <label for="idosafemininapesada">Idosa Feminina Pesada</label></div>

          <div><input type="checkbox" id="idosamasculinaleve" onclick="check()">
                <label for="idosamasculinaleve">Idosa Masculina Leve</label></div>
          <div><input type="checkbox" id="idosamasculina" onclick="check()">
                <label for="idosamasculina">Idosa Masculina</label></div>
          <div><input type="checkbox" id="idosamasculinapesada" onclick="check()">
                <label for="idosamasculinapesada">Idosa Masculina Pesada</label></div>


      <h1>Etnia</h1>
          <div><input type="checkbox" id="amarela" onclick="check()">
                <label for="amarela">Amarela</label></div>
          <div><input type="checkbox" id="branca" onclick="check()">
                <label for="branca">Branca</label></div>
          <div><input type="checkbox" id="indigena" onclick="check()">
                <label for="indigena">Indigena</label></div>
          <div><input type="checkbox" id="parda" onclick="check()">
                <label for="parda">Parda</label></div>
          <div><input type="checkbox" id="preta" onclick="check()">
                <label for="preta">Preta</label></div>


      <h1>Orientação Sexual</h1>
          <div><input type="checkbox" id="assexual" onclick="check()">
                <label for="assexual">Assexual</label></div>
          <div><input type="checkbox" id="bissexual" onclick="check()">
                <label for="bissexual">Bissexual</label></div>
          <div><input type="checkbox" id="heterossexual" onclick="check()">
                <label for="heterossexual">Heterossexual</label></div>
          <div><input type="checkbox" id="homossexual" onclick="check()">
                <label for="homossexual">Homossexual</label></div>
          <div><input type="checkbox" id="pansexual" onclick="check()">
                <label for="pansexual">Pansexual</label></div>


      <h1>Canta</h1>
          <div><input type="checkbox" id="cantasim" onclick="check()">
                <label for="cantasim">Sim</label></div>
          <div><input type="checkbox" id="cantanao" onclick="check()">
                <label for="cantanao">Nao</label></div>


      <h1>Idiomas</h1>
          <div><input type="checkbox" id="ingles" onclick="check()">
                <label for="ingles">Inglês</label></div>
          <div><input type="checkbox" id="espanhol" onclick="check()">
                <label for="espanhol">Espanhol</label></div>
          <div><input type="checkbox" id="outro" onclick="check()">
                <label for="outro">Outro</label></div>

  </div>

      <section>
          <div class="right">
            <div id="shapes" class="wrap">
              <div id="no-results">No filter results.</div>


                    <div class="object homemcis pcdnao adultamasculinaleve branca assexual cantanao ingles">
     <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\AiltonRosa .PNG",

       <h3>Ailton Rosa (ELE)</h3>
       <p>Categoria de voz: Adulta Masculina Leve</p>
       <p>Etnia: Branca</p>
       <p>Genero: Homem Cis</p>
       <p>Orientação Sexual: heterossexual</p>
  </div>


                  <div class="object homemcis pcdnao adultamasculinaleve branca assexual cantanao ingles">
     <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\adrianotrotta.jpg">
     <audio src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\music\adrianotrotta.mp3">></audio>
       <h3>Adriano Trotta (ELE)</h3>
       <p>Categoria de voz: Adulta Masculina Leve</p>
       <p>Etnia: Branca</p>
       <p>Genero: Homem Cis</p>
       <p>Orientação Sexual: Assexual</p>
  </div>




              <div class="object homemcis pcdnao adultamasculina branca heterossexual cantanao ingles">
                <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\/adrianotrotta.jpg">
                <h3>Adriano Trotta (ELE)</h3>
                <p>Categoria de voz: Adulta Masculina Leve</p>
                <p>Etnia: Branca</p>
                <p>Genero: Homem Cis</p>
                <p>Orientação Sexual: Assexual</p>
              </div>

              <div class="object mulhercis pcdnao jovemfemininaleve parda bissexual cantasim espanhol">
                <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Bruna_Mass.jpg">
                <h3>Bruna Mass (ELA)</h3>
                <p>Categoria de voz: Adulta Feminina Leve</p>
                <p>Etnia: Parda</p>
                <p>Genero: Mulher Cis</p>
                <p>Orientação Sexual: Bissexual</p>
              </div>

              <div class="object mulhertrans pcdnao adultafemininapesada amarela pansexual cantasim outro">
                <img src="C:\Users\jessica\PycharmProjects\bv_voxmundi\media\foto_dublador\Zara_Dobura.jpg">
                <h3>Zara Dobura (ELA)</h3>
                <p>Categoria de voz: Adulta Feminina Pesada</p>
                <p>Etnia: Branca</p>
                <p>Genero: Mulher Trans</p>
                <p>Orientação Sexual: Pansexual</p>
              </div>
          </div>
        </div>
      </section>


<script>

      filter([],[],[],[],[],[],[]);

      /*function loadAll() {
        var x, i;
        x = document.getElementsByClassName("product");
        for (i = 0; i < x.length; i++) {
          w3AddClass(x[i], "show");
        }
      }*/

      function check(){
            var filters = {    //se nao der bom apagar essa
            genero: [],
            pcd: [],
            categoria: [],
            etnia: [],
            orientacao: [],
            canta: [],
            idiomas: []
          };

        //GENERO
        var checkHomemcis = document.getElementById('homemcis').checked; //red
        var checkHomemtrans = document.getElementById('homemtrans').checked; //blue
        var checkIntersexo = document.getElementById('intersexo').checked; //green
        var checkMulhercis = document.getElementById('mulhercis').checked; //purple
        var checkMulhertrans = document.getElementById('mulhertrans').checked; //purple
        var checkNaobinario = document.getElementById('naobinario').checked; //purple

        let generoFilters = [];
        if (checkHomemcis) {
          generoFilters.push('homemcis');
        }
        if (checkHomemtrans) {
          generoFilters.push('homemtrans');
        }
        if (checkIntersexo) {
          generoFilters.push('intersexo');
        }
        if (checkMulhercis) {
          generoFilters.push('mulhercis');
        }
        if (checkMulhertrans) {
          generoFilters.push('mulhertrans');
        }
        if (checkNaobinario) {
          generoFilters.push('naobinario');
        }

        //console.log(generoFilters);

        // get a list of the secondary level filters
        //PCD
        var checkPcdsim = document.getElementById('pcdsim').checked;
        var checkPcdnao = document.getElementById('pcdnao').checked;
        let pcdFilters = [];
        if (checkPcdsim) {
          pcdFilters.push('pcdsim');
        }
        if (checkPcdnao) {
          pcdFilters.push('pcdnao');
        }


        // get a list of the tertiary level filters
        // CATEGORIA
        var checkInfantilfeminina = document.getElementById('infantilfeminina').checked;
        var checkInfantilmasculina = document.getElementById('infantilmasculina').checked;
        var checkAdolescentefeminina = document.getElementById('adolescentefeminina').checked;
        var checkAdolescentemasculina = document.getElementById('adolescentemasculina').checked;
        var checkJovemfemininaleve = document.getElementById('jovemfemininaleve').checked;
        var checkJovemfeminina = document.getElementById('jovemfeminina').checked;
        var checkJovemfemininapesada = document.getElementById('jovemfemininapesada').checked;
        var checkJovemmasculinaleve = document.getElementById('jovemmasculinaleve').checked;
        var checkJovemmasculina = document.getElementById('jovemmasculina').checked;
        var checkJovemmasculinapesada = document.getElementById('jovemmasculinapesada').checked;
        var checkAdultafemininaleve = document.getElementById('adultafemininaleve').checked;
        var checkAdultafeminina = document.getElementById('adultafeminina').checked;
        var checkAdultafemininapesada = document.getElementById('adultafemininapesada').checked;
        var checkAdultamasculinaleve = document.getElementById('adultamasculinaleve').checked;
        var checkAdultamasculina = document.getElementById('adultamasculina').checked;
        var checkAdultamasculinapesada = document.getElementById('adultamasculinapesada').checked;
        var checkMeiaidadefeminina = document.getElementById('meiaidadefeminina').checked;
        var checkMeiaidademasculina = document.getElementById('meiaidademasculina').checked;
        var checkIdosafemininaleve = document.getElementById('idosafemininaleve').checked;
        var checkIdosafeminina = document.getElementById('idosafeminina').checked;
        var checkIdosafemininapesada = document.getElementById('idosafemininapesada').checked;
        var checkIdosamasculinaleve = document.getElementById('idosamasculinaleve').checked;
        var checkIdosamasculina = document.getElementById('idosamasculina').checked;
        var checkIdosamasculinapesada = document.getElementById('idosamasculinapesada').checked;
       
        let categoriaFilters = [];
        if (checkInfantilfeminina) {
          categoriaFilters.push('infantilfeminina');
        }
        if (checkInfantilmasculina) {
          categoriaFilters.push('infantilmasculina');
        }
        if (checkAdolescentefeminina) {
          categoriaFilters.push('adolescentefeminina');
        }
        if (checkAdolescentemasculina) {
          categoriaFilters.push('adolescentemasculina');
        }
        if (checkJovemfemininaleve) {
          categoriaFilters.push('jovemfemininaleve');
        }
        if (checkJovemfeminina) {
          categoriaFilters.push('jovemfeminina');
        }
        if (checkJovemfemininapesada) {
          categoriaFilters.push('jovemfemininapesada');
        }
        if (checkJovemmasculinaleve) {
          categoriaFilters.push('jovemmasculinaleve');
        }
        if (checkJovemmasculina) {
          categoriaFilters.push('jovemmasculina');
        }
        if (checkJovemmasculinapesada) {
          categoriaFilters.push('jovemmasculinapesada');
        }
        if (checkAdultafemininaleve) {
          categoriaFilters.push('adultafemininaleve');
        }
        if (checkAdultafeminina) {
          categoriaFilters.push('adultafeminina');
        }
        if (checkAdultafemininapesada) {
          categoriaFilters.push('adultafemininapesada');
        }
        if (checkAdultamasculinaleve) {
          categoriaFilters.push('adultamasculinaleve');
        }
        if (checkAdultamasculina) {
          categoriaFilters.push('adultamasculina');
        }
        if (checkAdultamasculinapesada) {
          categoriaFilters.push('adultamasculinapesada');
        }
        if (checkMeiaidadefeminina) {
          categoriaFilters.push('meiaidadefeminina');
        }
        if (checkMeiaidademasculina) {
          categoriaFilters.push('meiaidademasculina');
        }
        if (checkIdosafemininaleve) {
          categoriaFilters.push('idosafemininaleve');
        }
        if (checkIdosafeminina) {
          categoriaFilters.push('idosafeminina');
        }
        if (checkIdosafemininapesada) {
          categoriaFilters.push('idosafemininapesada');
        }
        if (checkIdosamasculinaleve) {
          categoriaFilters.push('idosamasculinaleve');
        }
        if (checkIdosamasculina) {
          categoriaFilters.push('idosamasculina');
        }
        if (checkIdosamasculinapesada) {
          categoriaFilters.push('idosamasculinapesada');
        }


        // get a list of the quaternary level filters
        // ETNIA
        var checkAmarela = document.getElementById('amarela').checked;
        var checkBranca = document.getElementById('branca').checked;
        var checkIndigena = document.getElementById('indigena').checked;
        var checkParda = document.getElementById('parda').checked;
        var checkPreta = document.getElementById('preta').checked;

        let etniaFilters = [];
        if (checkAmarela) {
          etniaFilters.push('amarela');
        }
        if (checkBranca) {
          etniaFilters.push('branca');
        }
        if (checkIndigena) {
          etniaFilters.push('indigena');
        }
        if (checkParda) {
          etniaFilters.push('parda');
        }
        if (checkPreta) {
          etniaFilters.push('preta');
        }


        // get a list of the fifith level filters
        // ORIENTAÇAO
        var checkAssexual = document.getElementById('assexual').checked;
        var checkBissexual = document.getElementById('bissexual').checked;
        var checkHeterossexual = document.getElementById('heterossexual').checked;
        var checkHomossexual = document.getElementById('homossexual').checked;
        var checkPansexual = document.getElementById('pansexual').checked;

        let orientacaoFilters = [];
        if (checkAssexual) {
          orientacaoFilters.push('assexual');
        }
        if (checkBissexual) {
          orientacaoFilters.push('bissexual');
        }
        if (checkHeterossexual) {
          orientacaoFilters.push('heterossexual');
        }
        if (checkHomossexual) {
          orientacaoFilters.push('homossexual');
        }
        if (checkPansexual) {
          orientacaoFilters.push('pansexual');
        }


        // get a list of the sixth level filters
        //CANTA
        var checkCantasim = document.getElementById('cantasim').checked;
        var checkCantanao = document.getElementById('cantanao').checked;

        let cantaFilters = [];
        if (checkCantasim) {
          cantaFilters.push('cantasim');
        }
        if (checkCantanao) {
          cantaFilters.push('cantanao');
        }


        // get a list of the seventh level filters
        // IDIOMAS
        var checkIngles = document.getElementById('ingles').checked;
        var checkEspanhol = document.getElementById('espanhol').checked;
        var checkOutro = document.getElementById('outro').checked;

        let idiomasFilters = [];
        if (checkIngles) {
          idiomasFilters.push('ingles');
        }
        if (checkEspanhol) {
          idiomasFilters.push('espanhol');
        }
        if (checkOutro) {
          idiomasFilters.push('outro');
        }



        //console.log(pcdFilters);
        //AJEITAR ESSA PARTE PARA BAIXO
        if (generoFilters.length == 0 &&
            pcdFilters.length == 0 &&
            categoriaFilters.length == 0 &&
            etniaFilters == 0 &&
            orientacaoFilters.length == 0 &&
            cantaFilters == 0 &&
            idiomasFilters == 0) {
           // load all
          //filter([""], pcdFilters);
          filter([""]);
        } else {
          filter(generoFilters, pcdFilters, categoriaFilters, etniaFilters, orientacaoFilters, cantaFilters, idiomasFilters);
        }

      }

      // Function to sort objects
      function filter (primaryFilters, pcdFilters) {
        var x, i;
        x = document.getElementsByClassName("object");
        document.getElementById("no-results").style.display = "none";

        if (primaryFilters.length == 0) {
          primaryFilters.push("");
        }

        for (i = 0; i < x.length; i++) {
          let matchesFilter = false;
          w3RemoveClass(x[i], "show");
          //console.log(x[i].className);
          for (var p in primaryFilters) {
            //console.log(primaryFilters[p]);
            if (pcdFilters.length > 0 ) {
              for (var s in pcdFilters) {
                //console.log(pcdFilters[s]);
                  if (x[i].className.indexOf(primaryFilters[p]) > -1 && x[i].className.indexOf(pcdFilters[s]) > -1) matchesFilter=true;
              }
            } else {
              if (x[i].className.indexOf(primaryFilters[p]) > -1) matchesFilter=true;
            }
          }

          if (matchesFilter) {
            w3AddClass(x[i], "show");
            //console.log("Filter added to box #" + i);
          }
        }

        checkForNoMatches();
      }

      // Show filtered elements
      function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
          }
        }
      }

      // Hide elements that are not selected
      function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
          }
        }
        element.className = arr1.join(" ");
      }

      function checkForNoMatches() {
          var x = document.getElementsByClassName("show");
          console.log(x.length);
          if (x.length == 0) {
            document.getElementById("no-results").style.display = "block";
          }
      }

</script>


 <script>

  function check() {
      // Define as listas de filtros em cada nível
      var filters = {
        genero: [],
        pcd: [],
        categoria: [],
        etnia: [],
        orientacao: [],
        canta: [],
        idiomas: []
      };

      //Recupere os valores para cada filtro
      for (var filterGroup in filters) {
        var groupFilters = filters[filterGroup];
        var checkboxes = document.querySelectorAll('input[name=' + filterGroup + ']:checked');
        checkboxes.forEach(function (checkbox) {
          groupFilters.push(checkbox.value);
        });
      }

      // Chame a função de filtro passando os filtros desejados em cada nível
      filter(filters.genero, filters.pcd, filters.categoria, filters.etnia, filters.orientacao, filters.canta, filters.idiomas);
  }

   function filter(generoFilters, pcdFilters, categoriaFilters, etniaFilters, orientacaoFilters, cantaFilters, idiomasFilters) {
      var x, i;
      x = document.getElementsByClassName("object");
      document.getElementById("no-results").style.display = "none";

  // Verifique se pelo menos um filtro está selecionado
  if (
    generoFilters.length === 0 &&
    pcdFilters.length === 0 &&
    categoriaFilters.length === 0 &&
    etniaFilters.length === 0 &&
    orientacaoFilters.length === 0 &&
    cantaFilters.length === 0 &&
    idiomasFilters.length === 0
  ) {
    // Se nenhum filtro estiver selecionado, mostre todos os elementos
    for (i = 0; i < x.length; i++) {
      w3AddClass(x[i], "show");
    }
  } else {
    // Filtro dos elementos com base nos filtros selecionados
    for (i = 0; i < x.length; i++) {
      var element = x[i];
      var elementClasses = element.className.split(" ");
      var matchesFilter = true;

      // Verifique cada nível de filtro
      if (generoFilters.length > 0) {
        var generoMatch = generoFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && generoMatch;
      }

      if (pcdFilters.length > 0) {
        var pcdMatch = pcdFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && pcdMatch;
      }

      if (categoriaFilters.length > 0) {
        var categoriaMatch = categoriaFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && categoriaMatch;
      }

      if (etniaFilters.length > 0) {
        var etniaMatch = etniaFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && etniaMatch;
      }

      if (orientacaoFilters.length > 0) {
        var orientacaoMatch = orientacaoFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && orientacaoMatch;
      }

      if (cantaFilters.length > 0) {
        var cantaMatch = cantaFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && cantaMatch;
      }

      if (idiomasFilters.length > 0) {
        var idiomasMatch = idiomasFilters.some(function (filter) {
          return elementClasses.includes(filter);
        });
        matchesFilter = matchesFilter && idiomasMatch;
      }

 </script>



</body>
</html>


