
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>



     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    {% block head %}
    {% endblock %}

</head>

<body class="bg-[#2d2442] text-gray-400 font-helvetica">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}


         <script>
                const nav = document.querySelector('nav')

                document.addEventListener("scroll",e=>{
                    if(scrollY>100){
                        if(scrollY>window.innerHeight){
                        nav.classList.add('invisible')
                    }else{
                        nav.classList.add('bg-[#581D74]')
                        nav.classList.remove('invisible')
                    }
                    }else{
                        nav.classList.remove('bg-[#581D74]')
                        nav.classList.remove('invisible')
                    }
                })


                window.addEventListener('load', function() {
                    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = false;
                    });

                });


        </script>

    <footer class="text-[#1EBABD] px-5 py-5 font-arialbold">
        <ul style="display: flex; justify-content: space-between; align-items: center;">
            <li>&copy; 2023</li>
            <li>VSI Vox Mundi</li>
            <li><a href="https://www.linkedin.com/in/jessica-xavier-gravina/" target="_blank">Jéssica Xavier</a></li>
        </ul>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
